
img{
    max-width: 100%;
    height: auto;
}

h1,h2, h4, h5, h6, p, footer, blockquote, span {
    font-family: 'Noe Display';
    font-style: normal;
}


h1{
    font-size: 50px!important;
    line-height: 55px!important;
    font-weight: 700px!important;
}

h2{
    font-size: 66px!important;
    line-height: 66px!important;
    font-weight: 700px!important;
}

h3 {
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px!important;
    line-height: 34px!important;
    font-weight: 800!important;
}

h5{
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px!important;
    line-height: 25px;
    font-weight: 300;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
    color: black;
}
.home-right{
    height: 1100px;
}




.btn-yellow{
    border:none!important;
    background: #FACC66;
    color: black;
    margin-top: 10px;
    padding: 15px 120px;
}
.email-form{
    width: 400px;
    height: 60px;
}

/* Seção amarelo */

.section-yellow {
    padding-top:120px;
    padding-bottom:120px;
    background:#FACC66;
    
}
.unlock{
    display: block;
    margin: auto, auto;
    border-radius: 20px;
}


.content-traco-rosa{
    position: relative;
	left:45px;
    padding-bottom: 40px;
}
      
.content-traco-rosa::before {
    content: "";
	height: 120px; width: 5px;
	left: -45px;
	background: #FAC7D0;
	position: absolute;
	bottom:2px;
    padding-bottom: 40px;

}

.content-traco-rosa-2{
    position: relative;
	left:45px;}
      
.content-traco-rosa-2::before {
    content: "";
	height: 200px; width: 5px;
	left: -45px;
	background: #FAC7D0;
	position: absolute;
	bottom:2px
}

/* .content-right{
    
} */

.shuttle-drive{
    padding-top: 150px!important;
    padding-bottom: 40px!important;
}

.section-pink{
    padding-top:120px;
    padding-bottom:120px;
    background:#FAC7D0 !important;
}

.container-pink{
    display: block;
    max-width: 100%;
    max-height:100%;
    border-radius: 20px;;
}
/*
.imagem-fundo{
    
} */



.section-storage{
    padding-top:80px;
    padding-bottom: 80px;
}
.content-traco-azul{
    position: relative;
	left:45px;

}

.content-traco-azul::before {
    content: "";
	height: 120px; width: 5px;
	left: -45px;
	background: #B8EDFF;
	position: absolute;
	bottom:2px
}
.content-traco-azul-2{
    position: relative;
	left:45px;
    
    padding-top:30px;
}
      
.content-traco-azul-2::before {
    content: "";
	height: 120px; width: 5px;
	left: -45px;
	background: #B8EDFF;
	position: absolute;
	bottom:2px;
    padding-top:30px;

}

.storage{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
    .unlock{
        display: block;
        max-width: 100%;
    }
 

.future-proof{
    padding-top: 180px;
    padding-left: 50px;
    padding-right: 50px;
}

.section-blue{ 
    padding-top:120px;
    padding-bottom:120px;
    background:#B8EDFF !important;
}

.imagem-fundo{
    display: block;
    margin: 0, auto;
    border-radius: 20px;
}



.box-imagem-frente{
    display: none;
    position: absolute;
    right: 170px;
    top: -100px;
}

.imagem-frente{
    display: none;
}

.section-improvent {
    height: 1000px;
}
.shuttle-drive{
    padding-top:200px;
}

.img-blue{
    max-width: 100%;
}


/* Desktop */

@media (min-width: 768px) { 

    h1,h2, h4, h5, h6, p, footer, blockquote, span {
        font-family: 'Noe Display';
        font-style: normal;
    }
    
    
    h1{
        font-size: 77px!important;
        line-height: 82px!important;
        font-weight: 700px!important;
    }
    
    h2{
        font-size: 28px!important;
        line-height: 39px!important;
        font-weight: 400px!important;
    }
    
    h3 {
        font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 24px!important;
        line-height: 34px!important;
        font-weight: 200!important;
    }
    
    h5{
        font-size: 20px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }
    
    
    p {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 18px!important;
        line-height: 25px;
        font-weight: 300;
    }
    a {
        text-decoration: none;
        color: black;
    }
    a:hover {
        text-decoration: none;
        color: black;
    }



.section-first {
    height: 700px;
}
.section-secondary{
    height: 900px;
    padding-top:200px;
    
}
.container_afordable{
    height: 900px;
    padding-top:200px;
}
.form-md {
    width:290px
}
.imagem-frente{
    display: block;
}
.box-imagem-fundo{
    position: relative;
    border-radius: 20px;
}

.box-imagem-frente{
    position: absolute;
    right: 170px;
    top: -100px;
}
}
